<!-- Placez cette balise où vous souhaitez faire apparaître le gadget bouton "Partager". -->
<div class="g-plus" data-action="share" data-height="24" data-href="{{ path('zz_app_usersmoke_show',{'slug':linkshared}) }}"></div>

<!-- Placez cette ballise après la dernière balise Partager. -->
<script type="text/javascript">
    window.___gcfg = {lang: 'fr'};

    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>