{% extends '::layout.html.twig' %}

{% block page %}
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center title">{{ 'views.app.app.index.title1'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            <h2 class="text-center title">{{ 'views.app.app.index.title2'|trans }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            <p class="p-paddingt text-center">
                {{ 'views.app.app.index.hellousername'|trans({'%username%': user.username }) }}
            </p>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}