{% extends '::base.html.twig' %}

{% block menu %}
    <ul class="no-bullet">
        <li>
            <a href="{{ path('zz_bundles_app_homepage') }}">
                {{ 'layout.app.app.menu.index'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('hwi_oauth_connect') }}">
                {{ 'layout.app.app.menu.login'|trans }}
            </a>
        </li>
    </ul>
{% endblock %}