/* line 13, ../scss/app.scss */
body, html {
  width: 100%;
  height: 100%;
}

/* line 18, ../scss/app.scss */
body {
  width: 100%;
  height: 100%;
}

/* line 23, ../scss/app.scss */
.full-width {
  min-width: 100%;
}

/* line 27, ../scss/app.scss */
.container {
  height: 100%;
  min-height: 550px;
  overflow: hidden;
}

/* line 33, ../scss/app.scss */
.page {
  position: absolute;
  display: block;
  background-color: #addadd;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

/* line 44, ../scss/app.scss */
.menu {
  position: absolute;
  display: block;
  background-color: #23262b;
  top: 0;
  left: 0;
  width: 450px;
  bottom: 0;
  z-index: 99;
  padding: 75px 0 0 30px;
}
/* line 54, ../scss/app.scss */
.menu a {
  color: #addadd;
}
/* line 57, ../scss/app.scss */
.menu a:hover {
  color: #cccccc;
}

/* line 62, ../scss/app.scss */
h1.title {
  padding-left: 65px;
}

/* line 66, ../scss/app.scss */
.animateMenu {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 70, ../scss/app.scss */
.icon-menu {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 101;
}

/* line 79, ../scss/app.scss */
p.p-padding {
  padding: 0.45em 0.75em;
  margin-bottom: 0;
}

/* line 84, ../scss/app.scss */
img.img-connect {
  width: 2em;
  height: 2em;
}
