{% extends '::layout.html.twig' %}

{% block page %}
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center title">Cigarette edit</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            {{ form(edit_form) }}

                        <ul class="record_actions inline-list no-bullet">
    <li>
        <a href="{{ path('zz_app_cigarette') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
        </div>
    </div>
{% endblock %}
